@media (min-width: 1400px) {
  /* xxl */
  .main,.main2,.main3,.main4 {
    width: 640px;
    height: 560px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /* xl */
  .main,.main2,.main3,.main4 {
    width: 640px;
    height: 560px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* lg */
  .main,.main2,.main3,.main4 {
    width: 640px;
    height: 560px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* md */
  .main,.main2,.main3,.main4 {
    width: 640px;
    height: 560px;
  }
}

@media (max-width: 767px) {
  /* sm */
  .main,.main2,.main3,.main4 {
    width: 350px;
    height: 560px;
  }

  .ft-left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ft-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.main,.main2,.main3,.main4 {
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  overflow: hidden;
  background-color: aliceblue;
  margin-bottom: 2rem;

}


.img {
  height: 250px;
  background-color: white;
  overflow: hidden;
}

.img img {
  width: 100%;
}

.content {
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.content h3 {
  border-bottom: 1px solid #e5e5e5;
}

.content h1 {
  margin: 1rem 0;
}

.content p {
  color: #9f9f9f;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.ft-left {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.ft-left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ft-left p {
  margin: 0 auto;
  padding-left: 1rem;
}

.ft-right {
  display: flex;
  align-items: center;
}

.ft-right p {
  padding: 2rem;
  margin: 0 auto;
}
body {

}
