@media (min-width: 1400px) {
  /* xxl */
  .container-text {
    width: 640px;
    height: 300px;
    margin: 0 auto;
    margin-top: 17rem;
    margin-left: 20rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /* xl */
  .container-text {
    width: 640px;
    height: 300px;
    margin: 0 auto;
    margin-top: 16rem;
    margin-left: 20rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* lg */
  .container-text {
    width: 640px;
    height: 300px;
    margin: 0 auto;
    margin-top: 16rem;
    margin-left: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* md */
  .container-text {
    width: 640px;
    height: 300px;
    margin: 0 auto;
    margin-top: 15rem;
  }
}

@media (max-width: 767px) {
  /* sm */
  .container-text {
    margin: 0 auto;
    margin-top: 13rem;
    margin-left: 9rem;
  }
}

.bg-img {
  width: "100vw";
  height: "100vh";
}
.container-text {
  width: 640px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.textA {
  padding: 1.5rem;
  width: 600px;
  border-radius: 5px;
}

.item {
  background-color: seagreen;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

html,
body {
  background: #e9e9e9;
  scroll-behavior: smooth;
}

body {
  position: relative;
}


